@import url('https://fonts.cdnfonts.com/css/pricedown');
@import "tailwindcss";

body {
  color: white;
  font-family: 'Pricedown', sans-serif;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


footer {
  background-color: rgba(0, 0, 0, 0.5);
}
