@import url('https://fonts.cdnfonts.com/css/pricedown');
@import "tailwindcss";

body {
  background-image: url('/gta6-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Pricedown', sans-serif;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
